@media (max-width: 1202px ) and (min-width: 991px) {
    .navbar .content .nav-content li a{
        font-size: 13px !important;
    }
    .navbar .socail-media li a , .navbar .english {
        width: 30px;
        height: 30px;
    }
    .navbar .socail-media li a img {
        width: 15px;
        height: 15px;
    }
    .navbar .english span{
        font-size: 14px;
    }
    html[dir="ltr"] footer .list-content ul li a {
        font-size: 12px !important;
    }
}
@media (max-width: 991px ) {
    .navbar .english span{
        font-size: 14px;
    }
    .navbar .socail-media{
        display: none;
    }
    .hamburger{
        display: block !important;
    }
    html[dir='ltr'] .service-request .box .image-content .arrow{
        right: -37% !important;
    }
    
    .navbar .nav-content{
        width: 100%;
        height: calc(100vh - 75px) !important; 
        position: absolute;
        top: 75px;
        border-radius: 0px !important;
        transition: all 300ms linear;
        background-color: #443B62;
        flex-direction: column;
        justify-content: flex-start !important; 
    }
    .navbar .nav-content li{
        margin: 15px 0px !important;
    }
    html[dir='rtl'] .navbar .nav-content 
    {
        right: -100%;
    }
    .service-request .custom-box:nth-child(2) .box .image-content .arrow{
        display: none;
    }
   
    .service-request .box .image-content .arrow{
        left: -37%;
    }
    html[dir='rtl'] .active-nav{
        right: 0% !important;
    }
    html[dir='ltr'] .navbar .nav-content 
    {
        left: -100%;
    }
    html[dir='ltr']   .active-nav{
        left: 0% !important;
    }
   
    .service-request .box{
        margin-bottom: 50px;
    }
  
 
    html[dir='ltr'] header .content p{
        margin: 30px 0px !important;
    }
    .service-request .custom-box:last-child .box{
        margin-bottom: 0px !important;
    }
   
    header .content ,
    .advantage .box-content{
        width: 100%;
    }
    header .image-content img ,
    .about-us .image-content ,
    .about-us .image-content img , 
    .advantage .image-content img {
        height: 360px;
        object-fit: contain !important;
    }
    header::after{
        height: 250px;
    }
    header .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
    }
    .advantage .heading {
        margin-bottom: 50px;
    }
    header .content h4 , .work .content h4 ,
    .heading h4{
        font-size: 30px;
    }
    .work .content h4 {
        line-height: 3rem;
    }
    
    .advantage .box .content h5{
        line-height: 2.3rem;
    }
    header .content p ,  .work .content p ,
    .about-us .about-us-list li{
        font-size: 14px !important;
        text-align: justify;
    }
    .services .box p {
        font-size: 12px !important; 
    } 
    header .content p  {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .advantage .box ,
    .services .box {
        padding: 30px 0px;
        height: 100%;
        text-align: center;
    }
    footer .list-content{
        justify-content: space-between !important; 
    }
    footer .form .form-control::placeholder{
        font-size: 12px !important;
    }
    footer .list-content ul:first-child{
        margin: 0px;
    }
    footer .list-content ul li a {
        font-size: 12px !important;
    }
    .advantage .box .content h5 {
        font-size: 13px;
    }
    .popup .data-content{
        width: 100%;   
        padding: 40px 15px 40px 15px;
    }
    footer .custom-box:nth-child(2) .content::after{
        display: none;
    }
    .navbar .content .brand-name img{
        height: 56px !important;
    }
    footer p{
        margin: 20px 0px !important;
    }
    footer .socail-media{
        margin: 0px !important;
    }
    html[dir="ltr"] footer p {
        margin: 46px 0px !important;
    }
    footer .content.form-content-box{
        flex-direction: row;
        justify-content: space-between;
    }
    footer .content.form-content-box .data-content{
        width: 48%;
    }
    footer .content::after{
        left: -13px !important;
    }
    html[dir="ltr"] footer .list-content ul li a 
    {
        font-size: 10px !important;
    }
    footer{
        padding-bottom: 0px !important;
    }
}
@media (max-width: 770px) {

    .service-request .custom-box:nth-child(2) .box .image-content .arrow{
        display: flex !important;
    }
  
    .service-request .box .image-content .arrow , 
    html[dir='ltr'] .service-request .box .image-content .arrow{ 
        top: unset;
        bottom: -20px !important;
        left: 50% !important;
        transform: translateX(-50%) translateY(0px) rotate(-90deg) !important;
    }
    .service-request .box .image-content{
        position: unset !important; 
    }
    .popup.active .data-content .image-content{
        display: none;
    }
 
    footer .list-content ul li a, .advantage .box .content h5 {
        font-size: 13px;
    }
    html[dir="ltr"] footer p {
        margin: 26px 0px !important;
    }
 
    footer .list-content{
        justify-content: flex-start !important; 
    }
}
@media (max-width: 575px) {
    footer .content::after{
        width: 100%;
        height: 1px;
        left: 0px;
        top: unset;
        bottom: -12px;
        transform: translateY(0px) translateX(0%) !important;
    }   
    footer .content.form-content-box{
        flex-direction: column !important;
        justify-content: unset !important;
    }
    footer .content.form-content-box .data-content{
        width: unset !important;
    }
    .navbar .english {
        width: 35px;
        height: 35px;
    }
}